integration/src/main/resources/contracts/TeamForce-Order.wadl.xml

<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<grammars/>
	<resources base="http://localhost:8080/">
		<resource path="/teamforce/order">
			<resource path="/create">
				<param name="id" style="template" type="xs:string"/>
				<method name="POST">
					<request>
						<param name="order" style="query" type="xs:string"/>
					</request>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
			<resource path="/{id}">
				<param name="id" style="template" type="xs:string"/>
				<method name="DELETE">
					<request/>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
				<method name="GET">
					<request/>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
				<method name="POST">
					<request>
						<param name="good" style="query" type="xs:string"/>
					</request>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
		</resource>
	</resources>
</application>